<div class="d-flex align-items-center py-3 px-4">
  <div *ngIf="meal.img1 && meal.img1.length > 0; else elseBlock">
    <img src="{{ meal.img1 }}" alt="N/A" class="img-tile" />
  </div>
  <ng-template #elseBlock>
    <img src="./assets/food.jpeg" alt="N/A" class="img-tile-fallback" />
  </ng-template>
  <div class="mx-4">
    <p appGetRestaurantName class="rest-name mb-1">
      {{ meal.locName}}
    </p>
    <p class="rest-address mb-1">{{ meal.city }}</p>
    <p class="gold">{{ meal.priceBucket }}</p>
  </div>
</div>
