<p-dialog
  header="Login"
  [visible]="true"
  [modal]="true"
  [style]="{ width: '25rem' }"
>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="d-flex flex flex-row items-center gap-3 mb-4">
      <label for="firstName">First Name: </label>
      <input pInputText id="firstName" type="text" formControlName="firstName" style="height: 3rem;"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="lastName">Last Name: </label>
      <input pInputText id="lastName" type="text" formControlName="lastName"  style="height: 3rem;"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="userName">User Name: </label>
      <input pInputText id="userName" type="text" formControlName="userName"  style="height: 3rem;"/>
    </div>
    <div class="flex items-center gap-4 mb-4">
      <label for="password">Password: </label>
      <input pInputText id="password" type="text" formControlName="password"  style="height: 3rem;"/>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
  </form>
</p-dialog>

