/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@tailwind utilities;
@import "primeicons/primeicons.css";


.nav-tabs {
  font-family: "Trirong", serif !important;
  font-size: 1.9 rem;
  /* font-style: bold; */
}

.nav-bar{
  box-shadow: rgba(0, 0, 0, 0.08) 0px 10px 36px 0px;
}
.logo{
  height: 4vh;
  margin-left: 1.5rem;
}
a{
  text-decoration: none;
  color: black;
}

.p-menuitem {
  margin: .5rem !important;
  font-family: "Roboto", serif !important;
}

a.p-element>span{
  /* display: flex !important; */
  margin:0 0.2rem;
}

.img-tile{
  height:10vh;
  width:13vh;
}

.img-tile-fallback{
  height:10vh;
  width:13vh;
}

.gold{
  color: gold;
  font-size: 0.8rem;
}

.tile{
  width: 20vw;
  border-radius: 5%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.rest-name{
  font-size: 1rem;
  /* margin-botto: 0.1rem !important */
}

.rest-address{
  font-size:0.8rem;
  /* padding: 0.1rem !important */
}

/* styles.scss */
.custom-navbar {
  background-color: #ffffff !important;
  border: none !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.custom-navbar > .p-menuitem-link {
  color: #333 !important;
}

a.p-menuitem-link:hover {
  background-color: #ffffff!important;
  color: #000;
}

.custom-navbar > .p-menubar{
  border:none !important;
  background-color: #ffffff !important;
}

.nav-item {
  line-height: 1;
  margin:0rem 0.25rem !important;
}

.nav-item ::hover {
  background-color: #ffffff !important;
}
